body{
    font-family: 'Archivo', sans-serif;
}
.total{
    display:flex;
    flex-direction: row-reverse;
    width: 1140px;
    margin: 0 auto;
    background-color:#D9D9D9;    
}
.right{}

.FIO{
    margin-top: 59px;
    margin-bottom: 34px;
    margin-left: 27px;
    margin-right: 35px;
}
.Experience{
    margin-top: 34px;
    margin-bottom: 11px;
    margin-left: 27px;
    margin-right: 35px;
}
.Education{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 27px;
    margin-right: 35px;    
}
.Hobbys{
    margin-top: 11px;
    margin-bottom: 267px;
    margin-left: 27px;
    margin-right: 35px; 
}

.left{
    background-color:#385F71;
    width: 350px;
}
.photo{
    width: 190px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 34px;
    margin-right: 34px;
}
.Contacts{
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 35px;
    margin-right: 76px; 
}
.Aboutme {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 35px;
    margin-right: 33px; 
}
.Skills {    
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 35px;
    margin-right: 139px; }
.myname{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;

    color: #385F71;
}
.Financier{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    
    color: #8F754F;}
.h3{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 17px;
    
    color: #8F754F;}
.ulw{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;

    color: #FFFFFF;}

.ulb{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
    
    color: #8F754F;}
.pw{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
    
    color: #FFFFFF;}
.pyear{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 15px;
    
    color: #385F71;}
.h4head{font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 5px;
    
    color: #385F71;
    }